# Configuration file

general {
    # Play a sound after minecraft has finished starting up [default: true]
    B:playSound=true

    # Whether or not to use minecraft's display to show the progress. This looks better, but there is a possibility of not being compatible, so if you do have any strange crash reports or compatibility issues, try setting this to false
    # Note: IIRC, setting this to false makes the screen black [default: true]
    B:useMinecraft=true
}


